@import url('https://fonts.googleapis.com/css2?family=Anton&family=Open+Sans:ital,wght@0,400;0,500;0,700;1,400&family=Roboto:wght@400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;800&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Area cabeçalho */

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 15px 40px;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
}
header .logo {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
}
header .logo img {
    margin-right: 20px;
    width: 60px;
}

header .menu {
    width: 40px;
    width: 40px;
}
header .menu-line {
    background-color: #000;
    height: 3px;
    margin: 5px;
}

/* Area tela principal */

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-info .name {
    font-size: 4rem;
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    word-spacing: 10px;
}
.container-info span {
    color: #1E90FF;
}
.container-info .profession {
    font-size: 4rem;
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    word-spacing: 10px;
    margin-bottom: 30px;
}

.container-info .buttons a {
    font-family: 'Inter', sans-serif;
    display: inline-block;
    background-color: #1E90FF;
    color: #FFF;
    padding: 20px 50px;
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 5px;
    margin-right: 10px;
}
.container-info .buttons a.light {
    background-color: #FFF;
    color: #1E90FF;
    box-shadow: 0 0 5px #111;
}
.container-info .buttons a:hover {
    opacity: 0.7;
    transition: .2s ease-in-out;
}

/* Area About */
.about {
    background-image: linear-gradient(to left top, #4169e1, #0681ef, #0097f8, #00acfd, #00bfff);
    height: 100vh;
}
.container-about {
    max-width: 1140px;
    margin: auto;
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.container-about .about-top h2 {
    font-family: 'Inter', sans-serif;
    font-size: 3rem;
    text-transform: uppercase;
    text-align: center;
    color: #FFF;
    padding: 50px;
}
.container-about .about-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about-bottom .about-photograph img{
    width: 400px;
    height: auto;
    border-radius: 10px;
    box-shadow: 5px 7px 7px rgba(0, 0, 0, .7)
}
.about-bottom .about-desc {
    max-width: 600px;
    font-family: 'Inter', sans-serif;
    font-size: 1.2rem;
    line-height: 30px;
    color: #FFF;
}



/* Area Skills */

.container-skills {
    height: 100vh;
}
.container-skills .skills-title h2 {
    font-family: 'Inter', sans-serif;
    font-size: 3rem;
    text-transform: uppercase;
    text-align: center;
    color: #1E90FF;
    padding: 50px;
}
 



@media (min-width: 769px) and (max-width: 1024px) {
    .container .container-info {
        max-width: 900px;
    }

    .container-about .about-top h2 {
        font-size: 2rem;
        padding: 10px;
    }

    .container-about .about-bottom {
        justify-content: space-around;
    }
    .container-about .about-photograph,
    .container-about .about-des {
        max-width: 500px;
    }
    
}

@media (max-width: 768px) {
    .container-info {
        max-width: 600px;
    }
    
    .container-about .about-top h2 {
        font-size: 2rem;
        padding: 20px;
    }

    .container-about .about-bottom {
        flex-direction: column;
    }
    .about-bottom .about-photograph img {
        width: 250px;
    }
    .about-bottom .about-des {
        font-size: 1rem;
    }
}